@import "../../../styles.scss";

.tarif {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin-bottom: 8px;
  &-name {
    padding-right: 10%;
  }
  &-id {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 2px solid black;
    width: 20px;
  }

  &-load {
    padding-bottom: 8px;
    padding-right: 8%;
    &-content {
      display: flex;
    }
    &-icon {
      display: flex;
      justify-content: center;
      height: 20px;
      width: 60px;
      border: 2px solid black;
    }
    &-value {
      display: flex;
      justify-content: center;
      padding: 0px 20px;
      width: 60px;
      border: 1px solid black;
      border-radius: 0px 20px 20px 0px;
    }
    &-info {
      padding-left: 5px;
    }
    &-label {
      margin: 0;
      padding-top: 14px;
    }
    &-benefit {
      padding-top: 14px;
    }
  }

  &-price {
    padding-right: 20px;
    padding-left: 10%;
    font-size: 24px;
    padding-right: 10px;
    font-weight: 600;
  }
}

@media screen and (max-width: $tablet) and (min-width: $mobile) {
  .tarif {
    &-load {
      padding-top: 14px;
      &-benefit {
        display: none;
      }
      &-label {
        display: none;
      }
    }

    &-id {
      border-right: none;
      align-items: flex-start;
      padding-left: 8px;
    }

    &-price {
      padding-bottom: 14px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .tarif {
    &-load {
      padding-top: 14px;
      padding-right: 0px;
      &-benefit {
        display: none;
      }
      &-label {
        display: none;
      }
      &-icon {
        display: flex;
        justify-content: center;
        border: none;
        width: auto;
      }
      &-value {
        display: flex;
        justify-content: center;
        border: none;
        width: auto;
      }
      &-content {
        display: block;
      }
    }

    &-id {
      border-right: none;
      align-items: flex-start;
      padding-left: 2px;
      padding-top: 6px;
    }

    &-price {
      padding-bottom: 14px;
      padding-top: 8px;
      display: flex;
      flex-direction: row;

      &-value {
        padding-right: 10px;
      }
    }
    &-name {
      padding-right: 0px;
    }
  }
  .upload {
    display: none;
  }
}
